 
        .as_breadcrum_wrapper {
            padding-top: 200px;
        }

        .main-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            width: 100%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .as_banner_wrapper {
            padding-top: 200px;
        }

        .button-disable .as_btn:after,
        .as_btn:before {
            border-left: 0px solid var(--secondary-color) !important;
        }

        .button-disable .as_btn:before {
            border-right: 0px solid var(--secondary-color) !important;
        }

        .range-slider {
            width: 100%;
            margin: auto;
            position: relative;
            height: 4em;
        }

        .range-slider svg,
        .range-slider input[type=range] {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        input[type=number] {
            border: 1px solid #ddd;
            text-align: center;
            /* font-size: 1.6em; */
            -moz-appearance: textfield;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type=number]:invalid,
        input[type=number]:out-of-range {
            border: 2px solid #ff6347;
        }

        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: var(--primary-color);
        }

        input[type=range]:focus::-ms-fill-lower {
            background: var(--primary-color);
        }

        input[type=range]:focus::-ms-fill-upper {
            background: var(--primary-color);
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: var(--primary-color);
            border-radius: 1px;
            box-shadow: none;
            border: 0;
        }

        input[type=range]::-webkit-slider-thumb {
            z-index: 2;
            position: relative;
            box-shadow: 0px 0px 0px #000;
            border: 1px solid var(--primary-color);
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #a1d0ff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -7px;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: var(--primary-color);
            border-radius: 1px;
            box-shadow: none;
            border: 0;
        }

        input[type=range]::-moz-range-thumb {
            z-index: 2;
            position: relative;
            box-shadow: 0px 0px 0px #000;
            border: 1px solid var(--primary-color);
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #a1d0ff;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower,
        input[type=range]::-ms-fill-upper {
            background: var(--primary-color);
            border-radius: 1px;
            box-shadow: none;
            border: 0;
        }

        input[type=range]::-ms-thumb {
            z-index: 2;
            position: relative;
            box-shadow: 0px 0px 0px #000;
            border: 1px solid var(--primary-color);
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #a1d0ff;
            cursor: pointer;
        }

        /* Container */
        .product-card-animation {
            position: relative;
            overflow: hidden;
            border: 1px solid #eee;
            transition: transform 0.3s ease;
        }

        /* Image */
        .product-img img {
            display: block;
            width: 100%;
            height: auto;
        }

        /* Text Layer Styling */
        .text-layer {
            position: absolute;
            bottom: -100%;
            /* Hide initially */
            left: 0;
            width: 100%;
            background: var(--secondary-color);
            color: white;
            padding: 20px;
            z-index: 2;
            transition: bottom 0.4s ease;
            text-align: center;
        }

        .text-layer .as_price{
            color: var(--primary-color);
        }

         .text-layer .as_btn:before {
        border-right: 15px solid var(--primary-color) !important;
        }

        .text-layer .as_btn:after, .as_btn:before {
        border-left: 15px solid var(--primary-color);
        }

        /* Button Styling */
        .as_btn {
            background-color: #ff6600;
            color: #fff;
            padding: 10px 20px;
            margin-top: 15px;
            display: inline-block;
            text-decoration: none;
            transform: translateY(20px);
            opacity: 0;
            transition: transform 0.4s ease, opacity 0.4s ease;
        }

        /* Hover Effects */
        .product-card-animation:hover .text-layer {
            bottom: 0;
        }

        .product-card-animation:hover .as_btn {
            transform: translateY(0);
            opacity: 1;
        }

        .product-card-animation:hover .hover-hide {
            visibility: hidden;
        } 